Source: vrjuggler-2.2
Maintainer: Ryan Pavlik <abiryan@ryand.net>
Section: libs
Priority: optional
Build-Depends: autoconf2.59,
	automake1.9,
	cdbs (>=0.4.49),
	debhelper (>= 7),
	doxygen,
	dh-buildinfo,
	e2fslibs-dev,
	flagpoll,
	freeglut3-dev,
	gmtl,
	graphviz,
	junit,
	junit4,
	libalut-dev,
	libaudiere-dev,
	libboost-dev,
	libboost-filesystem-dev,
	libboost-signals-dev,
	libboost-python-dev,
	libcppdom-dev,
	libcppunit-dev,
	libgl1-mesa-dev | libgl-dev,
	libglu1-mesa-dev | libglu-dev,
	libomniorb4-dev,
	libomnithread3-dev,
	libopenal-dev,
	libusb-dev,
	libvrpn-dev,
	omniidl4,
	omniidl4-python,
	openjdk-6-jdk,
	portaudio19-dev,
	pyqt-tools,
	python-all-dev,
	python-omniorb,
	python-omniorb-omg,
	uuid-dev,
	xserver-xorg-dev,
	libjogl-java [!lpia],
	libjogl-jni [!lpia]
Standards-Version: 3.8.3
Homepage: http://www.vrjuggler.org

Package: vrjuggler-2.2
Architecture: any
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends},
	libgadgeteer-1.2,
	libjccl-1.2,
	libjccl-rtrc-1.2,
	libsonix-1.2,
	libtweek-1.2,
	libvpr-2.0,
	libvrj-2.2
Recommends: vrjconfig-2.2
Description: VR Juggler 2.2 Suite metapackage - VR Virtual Platform
 VR Juggler provides virtual reality (VR) software developers with a suite of
 application programming interfaces (APIs) that abstract, and hence simplify,
 all interface aspects of their program including the display surfaces, object
 tracking, selection and navigation, graphics rendering engines, and graphical
 user interfaces. An application written with VR Juggler is essentially
 independent of device, computer platform, and VR system. VR Juggler may be run
 with any combination of immersive technologies and computational hardware.
 .
 Install this package to install all libraries needed to run VR Juggler-based
 applications that have already been compiled.

Package: vrjuggler-2.2-dev
Architecture: any
Section: libdevel
Replaces: vrjuggler (<= 2.2.1+svnpatched-1)
Depends: ${misc:Depends}, ${shlibs:Depends},
	libgadgeteer-1.2-dev,
	libjccl-1.2-dev,
	libsonix-1.2-dev,
	libvpr-2.0-dev,
	libvrj-2.2-dev,
	vrjuggler-2.2
Recommends: libtweek-1.2-dev
Description: VR Juggler 2.2 Suite development metapackage - VR Virtual Platform
 VR Juggler provides virtual reality (VR) software developers with a suite of
 application programming interfaces (APIs) that abstract, and hence simplify,
 all interface aspects of their program including the display surfaces, object
 tracking, selection and navigation, graphics rendering engines, and graphical
 user interfaces. An application written with VR Juggler is essentially
 independent of device, computer platform, and VR system. VR Juggler may be run
 with any combination of immersive technologies and computational hardware.
 .
 Install this package to install all libraries and development files needed
 to compile and run applications against VR Juggler 2.2.

Package: vrjconfig-2.2
Architecture: any
Section: x11
Depends: ${misc:Depends},
	libtweek-1.2,
	libvrj-2.2
Description: VR Juggler 2.2 Suite common files
 VR Juggler provides virtual reality (VR) software developers with a suite of
 application programming interfaces (APIs) that abstract, and hence simplify,
 all interface aspects of their program including the display surfaces, object
 tracking, selection and navigation, graphics rendering engines, and graphical
 user interfaces. An application written with VR Juggler is essentially
 independent of device, computer platform, and VR system. VR Juggler may be run
 with any combination of immersive technologies and computational hardware.
 .
 This package provides the VRJ Config tool for viewing, editing, and updating
 jconf configuration files for VR Juggler.
 .
 For a full VR Juggler 2.2 runtime installation, install vrjuggler-2.2

Package: vrjuggler-common-2.2
Architecture: all
Section: libs
Depends: ${misc:Depends}
Description: VR Juggler 2.2 Suite common files
 VR Juggler provides virtual reality (VR) software developers with a suite of
 application programming interfaces (APIs) that abstract, and hence simplify,
 all interface aspects of their program including the display surfaces, object
 tracking, selection and navigation, graphics rendering engines, and graphical
 user interfaces. An application written with VR Juggler is essentially
 independent of device, computer platform, and VR system. VR Juggler may be run
 with any combination of immersive technologies and computational hardware.
 .
 This package provides files common to all VR Juggler 2.2 Suite components,
 and should be automatically installed when installing any such component.
 You normally will not manually install this on its own.
 .
 For a full VR Juggler 2.2 runtime installation, install vrjuggler-2.2

Package: vrjuggler-common-2.2-dev
Architecture: any
Section: libdevel
Depends: ${misc:Depends}, ${shlibs:Depends},
	vrjuggler-common-2.2
Description: VR Juggler 2.2 Suite common files - development
 VR Juggler provides virtual reality (VR) software developers with a suite of
 application programming interfaces (APIs) that abstract, and hence simplify,
 all interface aspects of their program including the display surfaces, object
 tracking, selection and navigation, graphics rendering engines, and graphical
 user interfaces. An application written with VR Juggler is essentially
 independent of device, computer platform, and VR system. VR Juggler may be run
 with any combination of immersive technologies and computational hardware.
 .
 This package provides development files common to all VR Juggler 2.2
 Suite components, and should be automatically installed when installing any
 such component.  You normally will not manually install this on its own.
 .
 For a full VR Juggler 2.2 runtime and development installation, install
 vrjuggler-2.2-dev

Package: libvpr-2.0
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
	vrjuggler-common-2.2
Description: VR Juggler Portable Runtime (VPR) for VR Juggler 2.2.x
 The VR Juggler Portable Runtime (VPR) provides an object-oriented
 operating system abstraction layer that allows for easy development of
 cross-platform C++ applications.
 .
 This package is a part of the VR Juggler 2.2 suite.
 .
 For a full VR Juggler 2.2 runtime installation, install vrjuggler-2.2

Package: libvpr-2.0-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
	libvpr-2.0 (= ${binary:Version}),
	libboost-dev,
	libboost-filesystem-dev,
	libboost-signals-dev,
	vrjuggler-common-2.2-dev
Recommends: flagpoll,
	e2fslibs-dev,
	libcppdom-dev,
	uuid-dev
Description: Development files for VR Juggler Portable Runtime (VPR)
 The VR Juggler Portable Runtime (VPR) provides an object-oriented
 operating system abstraction layer that allows for easy development of
 cross-platform C++ applications.
 .
 This package is a part of the VR Juggler 2.2 suite, and provides headers
 and other files required to compile applications using this component.
 .
 For a full VR Juggler 2.2 runtime and development installation, install
 vrjuggler-2.2-dev

Package: libjccl-1.2
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
	libvpr-2.0,
	vrjuggler-common-2.2
Description: Configuration manager for VR Juggler 2.2.x
 The JCCL C++ API provides a dynamic configuration system based on XML.
 .
 This package is a part of the VR Juggler 2.2 suite.
 .
 For a full VR Juggler 2.2 runtime installation, install vrjuggler-2.2

Package: libjccl-1.2-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
	libjccl-1.2 (= ${binary:Version}),
	vrjuggler-common-2.2-dev
Recommends: flagpoll,
	libvpr-2.0-dev
Description: Development files for Jackal configuration API
 The JCCL C++ API provides a dynamic configuration system based on XML.
 .
 This package is a part of the VR Juggler 2.2 suite, and provides headers
 and other files required to compile applications using this component.
 .
 For a full VR Juggler 2.2 runtime and development installation, install
 vrjuggler-2.2-dev

Package: libjccl-rtrc-1.2
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
	libjccl-1.2,
	libtweek-1.2,
	vrjuggler-common-2.2
Description: Remote Run-Time Reconfiguration Plug-in for Jackal
 The JCCL C++ API provides a dynamic configuration system based on XML.
 .
 This package is a part of the VR Juggler 2.2 suite.
 .
 For a full VR Juggler 2.2 runtime installation, install vrjuggler-2.2

Package: libtweek-1.2
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
	bash,
	libvpr-2.0,
	vrjuggler-common-2.2
Description: Tweek API for distributed applications for VR Juggler 2.2.x
 The Tweek API provides a wrapper around CORBA for writing applications
 based on the distributed model/view/controller system. In the scope of
 VR Juggler, such applications are usually immersive worlds that have a
 GUI that communicates with the immersive application through a network
 connection.
 .
 This package is a part of the VR Juggler 2.2 suite.
 .
 For a full VR Juggler 2.2 runtime installation, install vrjuggler-2.2

Package: libtweek-1.2-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
	libtweek-1.2 (= ${binary:Version}),
	vrjuggler-common-2.2-dev
Recommends: flagpoll,
	libcppdom-dev,
	libomniorb4-dev
Description: Development files for Tweek API
 The Tweek API provides a wrapper around CORBA for writing applications
 based on the distributed model/view/controller system. In the scope of
 VR Juggler, such applications are usually immersive worlds that have a
 GUI that communicates with the immersive application through a network
 connection.
 .
 This package is a part of the VR Juggler 2.2 suite, and provides headers
 and other files required to compile applications using this component.
 .
 For a full VR Juggler 2.2 runtime and development installation, install
 vrjuggler-2.2-dev

Package: libsonix-1.2
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
	libvpr-2.0,
	vrjuggler-common-2.2
Description: Audio API wrapper for VR Juggler 2.2.x
 Sonix is a dynamically reconfigurable wrapper around audio APIs.
 .
 This package is a part of the VR Juggler 2.2 suite.
 .
 For a full VR Juggler 2.2 runtime installation, install vrjuggler-2.2

Package: libsonix-1.2-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
	libsonix-1.2 (= ${binary:Version}),
	gmtl,
	vrjuggler-common-2.2-dev
Recommends: flagpoll,
	libalut-dev,
	libcppdom-dev,
	libopenal-dev
Description: Development files for Sonix audio API wrapper
 Sonix is a dynamically reconfigurable wrapper around audio APIs.
 .
 This package is a part of the VR Juggler 2.2 suite, and provides headers
 and other files required to compile applications using this component.
 .
 For a full VR Juggler 2.2 runtime and development installation, install
 vrjuggler-2.2-dev

Package: libgadgeteer-1.2
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
	libjccl-1.2,
	libvpr-2.0,
	vrjuggler-common-2.2
Description: Input device manager for VR Juggler 2.2.x
 Gadgeteer is an extensible, highly configurable, cluster-ready input
 device management for use with virtual reality applications. Users can
 write Device drivers that are loaded dynamically.
 .
 This package is a part of the VR Juggler 2.2 suite.
 .
 For a full VR Juggler 2.2 runtime installation, install vrjuggler-2.2

Package: libgadgeteer-1.2-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
	libgadgeteer-1.2 (= ${binary:Version}),
	gmtl,
	vrjuggler-common-2.2-dev
Recommends: flagpoll,
	libjccl-1.2-dev,
	libvpr-2.0-dev
Description: Development files for Gadgeteer input device manager
 Gadgeteer is an extensible, highly configurable, cluster-ready input
 device management for use with virtual reality applications. Users can
 write Device drivers that are loaded dynamically.
 .
 This package is a part of the VR Juggler 2.2 suite, and provides headers
 and other files required to compile applications using this component.
 .
 For a full VR Juggler 2.2 runtime and development installation, install
 vrjuggler-2.2-dev

Package: libvrj-2.2
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
	libgadgeteer-1.2,
	libjccl-1.2,
	libsonix-1.2,
	libvpr-2.0,
	vrjuggler-common-2.2
Description: Core libraries for VR Juggler 2.2.x
 The libraries needed for running and developing VR applications using
 VR Juggler.
 .
 This package is a part of the VR Juggler 2.2 suite.
 .
 For a full VR Juggler 2.2 runtime installation, install vrjuggler-2.2

Package: libvrj-2.2-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends},
	libvrj-2.2 (= ${binary:Version}),
	vrjuggler-common-2.2-dev
Recommends: flagpoll,
	libgadgeteer-1.2-dev,
	libjccl-1.2-dev,
	libsonix-1.2-dev,
	libvpr-2.0-dev
Description: Development files for VR Juggler 2.2 core libraries
 The libraries needed for running and developing VR applications using
 VR Juggler.
 .
 This package is a part of the VR Juggler 2.2 suite, and provides headers
 and other files required to compile applications using this component.
 .
 For a full VR Juggler 2.2 runtime and development installation, install
 vrjuggler-2.2-dev
