#!/usr/bin/make -f

binary/libjccl-1.2-dev:: binary/libjccl-1.2
binary/libtweek-1.2-dev:: binary/libtweek-1.2
binary/libvpr-2.0-dev:: binary/libvpr-2.0
binary/libsonix-1.2-dev:: binary/libsonix-1.2
binary/libvrj-2.2-dev:: binary/libvrj-2.2
binary/libgadgeteer-1.2-dev:: binary/libgadgeteer-1.2

binary/libgadgeteer-1.2 binary/libjccl-1.2 binary/libsonix-1.2 binary/libtweek-1.2:: binary/libvpr-2.0
binary/libgadgeteer-1.2 binary/libjccl-rtrc-1.2:: binary/libjccl-1.2
binary/libjccl-rtrc-1.2:: binary/libtweek-1.2
binary/libvrj-2.2:: binary/libgadgeteer-1.2 binary/libsonix-1.2

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include debian/cdbs/1/rules/buildinfo.mk

AUTOTOOLS_ENV := AUTOCONF=autoconf2.59 AUTOHEADER=autoheader2.59 ACLOCAL=aclocal-1.9

DEB_CONFIGURE_SCRIPT_ENV += $(AUTOTOOLS_ENV)
DEB_CONFIGURE_SCRIPT := $(CURDIR)/$(DEB_SRCDIR)/configure.pl

# DO NOT pass additional dir arguments like includedir, they will break
# the build due to messing up the instlinks system.
# Not overriding DEB_CONFIGURE_NORMAL_ARGS effectively passes additional dir
# args, hence this line.
DEB_CONFIGURE_NORMAL_ARGS := --prefix=/usr --disable-maintainer-mode --disable-dependency-tracking

DEB_CONFIGURE_EXTRA_FLAGS := --with-boost-includes=/usr/include \
								--with-java-orb=JDK \
								--with-gmtl=/usr \
								--with-openal=/usr \
								--with-audiere=/usr \
								--with-vrpn=/usr

FLAGS := -Wno-deprecated
CXXFLAGS += $(FLAGS)
CFLAGS += $(FLAGS)

MAKE_JOBS_FLAG := -j 1
MAKE_VERBOSE_FLAG := --debug=b

DEB_BUILDDIR := $(CURDIR)/debian/build/
DEB_DESTDIR := $(CURDIR)/debian/tmp/

DEB_MAKE_CLEAN_TARGET := distclean clean cleandepend clobber

# Build only optimized, shared libraries
DEB_MAKE_BUILD_TARGET := opt-dso $(MAKE_JOBS_FLAG) $(MAKE_VERBOSE_FLAG)

# Install only optimized builds
DEB_MAKE_INSTALL_TARGET := install-optim prefix=$(DEB_DESTDIR)usr $(MAKE_JOBS_FLAG) $(MAKE_VERBOSE_FLAG)

# Ensure we always use the desired autotools
DEB_MAKE_ENVVARS += $(AUTOTOOLS_ENV)

DEB_INSTALL_DOCS_ALL := $(CURDIR)/README.txt $(CURDIR)/README.html $(CURDIR)/README-WINDOWS.html

# Don't let dh_shlibdeps try to set up dependencies within these packages -
# too problematic.
DEB_DH_SHLIBDEPS_ARGS := -- $(patsubst %,-x%,$(DEB_ALL_PACKAGES))

# Must autogen, change perms, and make directories before build.
makebuilddir/vrjuggler-2.2::
	$(AUTOTOOLS_ENV) ./autogen.sh
	chmod a+x $(CURDIR)/debian/vrjuggler-env.sh
	mkdir -p $(DEB_BUILDDIR)
	mkdir -p $(DEB_DESTDIR)

clean::
	# Clean up editing detritus
	find $(CURDIR) -name *\~ | xargs rm -rf
	find $(CURDIR) -name ._* | xargs rm -rf
	find $(CURDIR) -name .DS_Store | xargs rm -rf

	# Clean up common build products
	-rm -f config.log config.status Makefile
	-rm -rf $(DEB_BUILDDIR)

	# Remove source build-generated files that make clean+friends misses.
	find $(CURDIR) -name aclocal.m4 | xargs rm -f
	find $(CURDIR) -name configure | xargs rm -f
	find $(CURDIR) -name *Defines.h.in | xargs rm -f
