#!/usr/bin/make -f

binary/libjccl-1.2-dev:: binary/libjccl-1.2
binary/libtweek-1.2-dev:: binary/libtweek-1.2
binary/libvpr-2.0-dev:: binary/libvpr-2.0
binary/libsonix-1.2-dev:: binary/libsonix-1.2
binary/libvrj-2.2-dev:: binary/libvrj-2.2
binary/libgadgeteer-1.2-dev:: binary/libgadgeteer-1.2

binary/libgadgeteer-1.2 binary/libjccl-1.2 binary/libsonix-1.2 binary/libtweek-1.2:: binary/libvpr-2.0
binary/libgadgeteer-1.2 binary/libjccl-rtrc-1.2:: binary/libjccl-1.2
binary/libjccl-rtrc-1.2:: binary/libtweek-1.2
binary/libvrj-2.2:: binary/libgadgeteer-1.2 binary/libsonix-1.2

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
#include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include debian/cdbs/1/rules/buildinfo.mk

AUTOTOOLS_ENV := AUTOCONF=autoconf2.59 AUTOHEADER=autoheader2.59 ACLOCAL=aclocal-1.9

DEB_CONFIGURE_SCRIPT_ENV += $(AUTOTOOLS_ENV)
DEB_CONFIGURE_SCRIPT := $(CURDIR)/$(DEB_SRCDIR)/configure.pl
DEB_CONFIGURE_NORMAL_ARGS := --prefix=/usr --libdir=/usr/lib --libexecdir=/usr/lib DESTDIR=$(DEB_DESTDIR)
DEB_CONFIGURE_EXTRA_FLAGS := --with-boost-includes=/usr/include \
								--with-java-orb=JDK \
								--with-gmtl=/usr \
								--with-openal=/usr \
								--with-audiere=/usr \
								--with-vrpn=/usr

FLAGS := -Wno-deprecated
CXXFLAGS += $(FLAGS)
CFLAGS += $(FLAGS)

DEB_BUILDDIR := $(CURDIR)/debian/build/
DEB_DESTDIR := $(CURDIR)/debian/tmp/

DEB_MAKE_CLEAN_TARGET := distclean clean cleandepend clobber
DEB_MAKE_BUILD_TARGET := opt-dso prefix=$(DEB_DESTDIR)usr libdir=$(DEB_DESTDIR)usr/lib libexecdir=$(DEB_DESTDIR)usr/lib DESTDIR=$(DEB_DESTDIR) LIBBITSUF=
DEB_MAKE_INSTALL_TARGET := install-opt-dso prefix=$(DEB_DESTDIR)usr  libdir=$(DEB_DESTDIR)usr/lib libexecdir=$(DEB_DESTDIR)usr/lib DESTDIR=$(DEB_DESTDIR) LIBBITSUF=
DEB_MAKE_ENVVARS += VJ_BASE_DIR=$(DEB_DESTDIR) DESTDIR=$(DEB_DESTDIR) $(AUTOTOOLS_ENV)

DEB_INSTALL_DOCS_ALL := $(CURDIR)/README.txt $(CURDIR)/README.html $(CURDIR)/README-WINDOWS.html

DEB_DH_SHLIBDEPS_ARGS := -- $(patsubst %,-x%,$(DEB_ALL_PACKAGES))

makebuilddir/vrjuggler-2.2::
	$(AUTOTOOLS_ENV) ./autogen.sh
	chmod a+x $(CURDIR)/debian/vrjuggler-env.sh
	mkdir -p $(DEB_BUILDDIR)
	mkdir -p $(DEB_DESTDIR)

clean::
	# Clean up editing detritus
	find $(CURDIR) -name *\~ | xargs rm -rf
	find $(CURDIR) -name ._* | xargs rm -rf
	find $(CURDIR) -name .DS_Store | xargs rm -rf

	# Clean up common build products
	-rm -f config.log config.status Makefile
	-rm -rf $(DEB_BUILDDIR)

	# Remove source build-generated files that make clean+friends misses.
	find $(CURDIR) -name aclocal.m4 | xargs rm -f
	find $(CURDIR) -name configure | xargs rm -f
	find $(CURDIR) -name *Defines.h.in | xargs rm -f

# workaround for http://bugs.debian.org/526392
#QUILT_PATCH_DIR := debian/patches
#QUILT_STAMPFN := patch
#-include /usr/share/topgit/tg2quilt.mk
